*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
}

body{
    background-image: url(../imagenes/maximalfocus-0n4jhVGS4zs-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; 
}
.header{
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(27, 27, 50);
    position: sticky;
    top: 0;
    z-index: 10000;
}
.logo h1{
    font-weight: 500;
    color: aquamarine;
    padding: 5px;
}
nav ul{
    display: flex;
}
nav ul li{
    margin: 5px;
}
nav ul li a{
    color: aquamarine;
}
.input{
    height: 1.8rem;
    width: 12rem;
    border: 1px solid rgb(27, 27, 50);
    text-align: start;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

#boton-carrito{
    font-size: 1.3rem;
    background-color: rgb(27, 27, 50);
    border: none;
    color: aquamarine;
    padding: 5px 10px;
    transition: all 0.3s;
}
#boton-carrito:hover{
    cursor: pointer;
    color: #fff;
    background-color: rgb(93, 196, 161);
}
#boton-carrito:focus {
    outline: none;
}
  
img{
    display: block;
    width: 100%;
    height: auto;
    max-height: 300px;
    object-fit: cover;
}

#contenedor-servicios{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin:  auto;
    padding: 5rem 1rem;
    max-width: 1200px;
    height: auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
p{
    line-height: 1.5;
    margin-top: 5px;
}
.servicio{
    max-width: 300px;
    width: 100%;
    object-fit: cover;
    height: 100%;
    margin-bottom: 2rem;
    box-shadow: 5px 5px 5px ;
}
.card-img{
    width: 100%;
    height: 100%;
    background-color: darkslateblue;
    padding: 1rem;
    
}
 .card-title{
    font-size: 1.3rem;
    color: #fff;
    padding: 10px;
    text-align: center;
}
.descrip{
    font-size: 0.9rem;
}
.contenido{
    padding: 1rem;
    color: #fff;
    background-color: rgb(21, 12, 80);
    font-size: 1rem;
    height: auto;
}
.contenido .precio{
    color: aquamarine;
    font-weight: 600;
    font-size: 1.2rem;
}
.btn-añadir{
    color: aquamarine;
    font-size: 20px;
    margin: 5px;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
}
.modal-contenedor{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: all 0.5s;
    opacity: 0;
    visibility: hidden;
}
.modal-active {
    opacity: 1;
    visibility: visible;
    z-index: 5;
}
.modal-carrito{
    background-color: rgb(21, 12, 80);
    border: 1px solid darkslateblue;
    min-width: 500px;
    padding: 1rem;
    margin-top: -100%;
    position: relative;
    transition: all 0.5s;
}
.modal-active .modal-carrito {
    margin-top: 0;
}

.modal-carrito h3{
    color: aquamarine;
    padding: 5px;
    font-weight: 500;
}
.modal-carrito #cerrar-carrito{
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    color: rgb(225, 76, 65);
    border: none;
    background-color: rgb(21, 12, 80);
}
.modal-carrito #carritoCerrar:hover {
    cursor: pointer;
}
.modal-carrito #carritoCerrar:focus {
    outline: none;
}
.servicio-carrito{
    display: flex;
    justify-content: space-between;
    border: 3px solid darkslateblue;
    color: #fff;
    margin-top: 5px;
    padding: 5px;
    border-radius: 3px;
}

.boton-eliminar{
    background-color: rgb(21, 12, 80);
    color: rgb(225, 76, 65);
    border: none;
    font-size: 20px;
}
.boton-eliminar:hover {
    cursor: pointer;
}
.boton-eliminar:focus {
    outline: none;
}
.precio-servicio{
    color: #fff;
    margin-top: 5px;
}
#terminar #fin-compra{
    font-size: 20px;
    color: #fff;
    background-color: aquamarine;
    border: none;
    border-radius: 3px;
    padding: 5px 8px;
    cursor: pointer;
}

.form-title{
    color: #f3f3f3;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    line-height: 1.2;
    font-weight: 500;
    text-shadow: 1px 1px 1px rgba(0 0 0 / 40%);
}
.form-description{
    color: #f3f3f3;
    margin-top: 0;
    margin-bottom: 0.5rem;
    text-align: center;
    font-style: italic;
    font-size: 1.25rem;
    text-shadow: 1px 1px 1px rgba(0 0 0 / 40%);
}

#survey-form{
    background-color: rgba(27, 27, 50, 0.8);
    padding: 2.5rem;
    margin: 1rem;
    border-radius: 0.25rem;
    max-width: 40rem;
}
.form-group{
    margin: 0 auto 1.25rem auto;
    padding: 0.25rem;
}
.label{
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    color: #fff;
}
.form-control{
    display: block;
    width: 100%;
    height: 2.3rem;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

.submit-button{
    display: block;
    width: 100%;
    padding: 0.75rem;
    background-color: aquamarine;
    color: inherit;
    border-radius: 0.5rem;
    cursor: pointer;
    border: none;
    font-size: 1rem;
}

.contenedor-form{
    display: flex;
    justify-content: center;
}
.contenedor-img{
    background-image: linear-gradient(130deg,#509fc95d,#e83b5877);
}

#footer{
    background-color: rgb(27, 27, 50);
    color: #f3f3f3;
    text-align: center;
    padding: 0.8rem;
}
#footer h5{
    font-size: 1.2rem;
    font-weight: 400;
}
#footer p{
    font-style: italic;
}